antiorm==1.2.1
asgiref==3.2.7
astroid==2.3.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
db==0.1.1
db-sqlite3==0.0.1
defusedxml==0.6.0
Django==3.0.14
django-allauth==0.41.0
django-countries==6.1.2
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-filter==2.2.0
djangorestframework==3.11.0
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.1.0
Pillow==7.1.1
pylint==2.4.4
pysqlite3==0.4.2
python-decouple==3.3
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
stripe==2.45.0
typed-ast==1.4.1
urllib3==1.25.8
Werkzeug==1.0.1
wrapt==1.11.2
